{
	"authHost": "LARAVEL_ECHO_SERVER_AUTH_HOST",
	"authEndpoint": "LARAVEL_ECHO_AUTH_ENDPOINT",
	"clients": [
		{
			"appId": "CLIENT_APP_ID",
			"key": "CLIENT_APP_KEY"
		}
	],
	"database": "DATABASE",
	"databaseConfig": {
		"redis" : {
		    "port": "LARAVEL_ECHO_SERVER_REDIS_PORT",
		    "host": "LARAVEL_ECHO_SERVER_REDIS_HOST"
		},
		"sqlite": {
			"databasePath": "/app/server.sqlite"
		}
	},
	"devMode": true,
	"host": "0.0.0.0",
	"port": 6001,
	"protocol": "http",
	"socketio": {
		"cookie": false,
		"cookiePath": false
	},
	"secureOptions": 67108864,
	"sslCertPath": "LARAVEL_ECHO_SERVER_SSL_CERT",
	"sslKeyPath": "LARAVEL_ECHO_SERVER_SSL_KEY",
	"sslCertChainPath": "LARAVEL_ECHO_SERVER_SSL_CHAIN",
	"sslPassphrase": "",
	"subscribers": {
		"http": true,
		"redis": false
	},
	"apiOriginAllow": {
		"allowCors": true,
		"allowOrigin": "*",
		"allowMethods": "GET, POST",
		"allowHeaders": "Origin, Content-Type, X-Auth-Token, X-Requested-With, Accept, Authorization, X-CSRF-TOKEN, X-Socket-Id"
	}
}
